.add-listing-form__input-area-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-height: 90vh;
  min-height: 90vh;
  max-width: 90vw;
}
.add-listing-form__input-area {
  flex-basis: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-evenly;
}

.availability-selector {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 0;
  width: 90vw;
}

.form-group {
  display: flex;
  justify-content: space-between;
}
.form-group > label {
  flex: 1;
  padding-right: 10px;
  font-weight: bold;
}
.form-group > input, textarea, select {
  flex: 2;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group-checkbox {
  display: flex;
  font-weight: bold;
  gap: 20px;
}
.form-group-upload {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}