form {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* justify-content: center; */
  /* align-items: center; */
}

.availability-selector {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

img{
  width: 100px;
}

.uploaded-images {
  display: flex;
}