.landing-page__main-container {
  background-image: url(https://images.unsplash.com/photo-1644144976137-3cb6dd8fae0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
  background-size: cover;
  height: 100%;
  min-width: 100vw;
}

h2 {
  margin: 0;
}

.landing-page__welcome-card {
  position: absolute;
  left: calc(5rem + 50px);
  top: 100px;
  background-color: var(--bg-tertiary);
  width: 50vw;
  padding: 2rem;
}

button {
  border-radius: 0;
  width: 100%;
  border: 0;
  background-color: blue;
  color: var(--text-primary);
  height: 40px;
}