<div class="landing-page__main-container">
  
  <div class="landing-page__welcome-card">

  <h2>🧞‍♂️ Welcome to RentalGenie</h2>
  <hr />
  <p>RentalGenie: the platform that simplifies the rental process and helps you find your dream home faster than ever.</p>

  <p>We've eliminated the middleman by cutting out real estate agents from everything except the actual showing itself, saving you both time and money.</p>

  <p>Our user-friendly platform makes it easy to browse through our vast selection of listings and schedule apartment showings at your convenience. Whether you're looking for a cozy studio or a spacious family home, RentalGenie has you covered.</p>
    
  <p>Start your rental journey today with RentalGenie and discover the perfect place to call home!</p>  

  <a routerLink="/public/home" class="nav-link">
    <button>Find a new home</button>
  </a>

  </div>

</div>