.full-calendar-page__main-container {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(229, 225, 225);
  overflow-y: scroll;
  margin: 10px;
  min-width: 92vw;
  max-width: 92vw;
  min-height: 97vh;
}