:root {
  --text-primary: white;
  --text-hover: #23232e;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #4e4e65;
  --bg-tertiary: #f2f2f2;
  font-family: arial;
}

:host {
  height: 100%;
}

.b-red {
  border: 1px solid red;
}

html {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: lightcoral; */
  /* background-color: var(--bg-secondary); */
  /* height: 100%; */
}

/* app-public {
  display: flex;
  height: 100%;
} */
