
:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #fafbfc;
  --bg-tertiary: #ffffff;
  --transition-speed: 600ms;
  font-family: arial;
}

.b-red {
  border: 1px solid red
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-secondary);
}
