:root {
  --text-primary: white;
  --text-hover: #23232e;
  --text-secondary: #ececec;
  --text-tertiary: #5858e5;
  --bg-primary: #23232e;
  --bg-secondary: #4e4e65;
  --bg-tertiary: #f2f2f2;
  --border-primary: rgb(173, 168, 168);
  font-family: arial;
}

:host {
  height: 100%;
}

.b-red {
  border: 1px solid red;
}

html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}