:host {
  height: 100%;
}

.nav {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav.open {
  width: max-content;
}

.nav hr {
  border: 1px solid var(--text-primary);
  width: 100%;
  margin: 0;
}

.nav button {
  align-self: flex-start;
  background: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  margin: 1rem;
  cursor: pointer;
}

.nav button i {
  transition: all ease-in-out 200ms;
}

.nav.open button i {
  transform: rotate(90deg);
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav__list-item {
  width: 100%;
}

.nav__list-item--last {
  margin-top: auto;
}

.nav__list-item__link {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
  width: 100%;
  height: 3.5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.nav__list-item:hover {
  background: var(--bg-secondary);
}

.nav.open .nav__list-item__link-text {
  display: inline;
  margin-left: 1rem;
}

.nav__list-item__link-text {
  display: none;
}

.logo {
  color: var(--text-primary);
  font-size: 1.3rem;
  padding: 1rem;
}