.chat-screen {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 20px;
  max-width: 200px;
}

.from-user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.from-bot {
  background-color: #f0f0f0;
  color: black;
  align-self: flex-start;
  border-bottom-left-radius: 0px;
}
