
<div class="b-red dashboard-container">

  <div class="b-red dashboard-events-list-container">
    <!-- Mybe filter out previous events and only show NEXT events here -->
    <h3>All Events ({{events.length}})</h3>
    <ul>
      <li *ngFor="let event of events">
        <b>{{event.title}}</b>
        <i>{{event.start}}</i>
      </li>
    </ul>
  </div>

  <div class="b-red dashboard-calendar-and-listings-container">
    <app-calendar></app-calendar>
    <!-- this is to be changed once you have the thumbnails implemented -->
    <div class="dash-board-images">
      <div *ngFor="let image of imageUrls">
        <img [src]="image">
      </div>
    </div>
  </div>
</div>
