<div class="private-dashboard__main-container">
  
  <span class="private-dashboard__welcome-header">Welcome back agent Smith!</span>
  <br>
  <div class="private-dashboard__events-and-calendar-container">
    <div class="private-dashboard__current-events-list">
      <app-calendar-list-view></app-calendar-list-view>
    </div>
    <app-calendar class="private-dashboard__calendar-container"></app-calendar>
  </div>

  <div class="private-dashboard__agency-listing-container">
    <span>Your Listings Overview</span>
    <br>
    <div class="private-dashboard__agency-listing-conveyor">
      <div *ngFor="let listing of listings" class="private-dashboard__agency-listing-conveyor-card">
        <span>{{listing.privateInfo.address}}</span>
        <br />
        <span>{{listing.privateInfo.owner_name}}</span>
        <span>{{listing.privateInfo.owner_contact}}</span>
        <img [src]="listing.publicInfo.images[0]" alt="">
      </div>
    </div>
  </div>
</div>