<!-- this is to be changed once you have the thumbnails implemented
<div class="dashboard-listing-images">
  <img [src]="image">
  <div *ngFor="let image of imageUrls">
  </div>
</div> -->

<div class="dashboard-container">

  <div class="dashboard-left-card">
    
    <div class="agency-logo b-red">
      <img src="https://picsum.photos/400" alt="">
    </div>
    
    <div class="events-list b-red">
      <ul>
        <!-- Mybe filter out previous events and only show NEXT events here -->
        All Events:
        <li *ngFor="let event of events">
          <b>{{event.title}}</b>
          <i>{{event.start}}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="dashboard-right-card b-red">

    <app-calendar></app-calendar>

  </div>
</div>
