.private-dashboard__main-container {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(229, 225, 225);
  overflow-y: scroll;
  margin: 10px;
  max-width: 92vw;
  min-height: 97vh;
}
.private-dashboard__welcome-header {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
}
.private-dashboard__events-and-calendar-container {
  flex: 5;
  display: flex;
  margin-right: 5px;
}
.private-dashboard__current-events-list {
  flex: auto;
  width: auto;
  background-color: var(--bg-tertiary);
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
}
.private-dashboard__calendar-container {
  width: 450px;
  background-color: var(--bg-tertiary);
  border-radius: 10px;
  padding: 10px;
}
.private-dashboard__agency-listing-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5px;
  background-color: var(--bg-tertiary);
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
}
.private-dashboard__agency-listing-conveyor {
  display: flex;
  gap: 10px;
  max-width: 100%;
  overflow-x: auto;
}
.private-dashboard__agency-listing-container > span {
  font-size: 1.2rem;
  font-weight: bold;
}
.private-dashboard__agency-listing-conveyor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 150px;
  font-size: 0.8rem;
  border-radius: 5px;
}
.private-dashboard__agency-listing-conveyor-card > img{
  height: 190px;
  width: 100%;
}