
.individual-listing__listing-header {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  /* justify-content: space-between; */
  text-align: center;
  padding: 1rem;
  scroll-snap-align: start;
}
.individual-listing__listing-header-button > button {
  height: 50px;
  width: 50px;
  align-self: flex-start;
  background: none;
  border: 1px double var(--border-primary);
  cursor: pointer;
  border-radius: 3px;
  margin-left: 0;
  background-color: var(--bg-tertiary);
}
.individual-listing__listing-header-button > button:active {
  background-color: var(--border-primary);   
}
.individual-listing__listing-header-text{
  flex: 1;
  padding-left: 10px;
}

.individual-listing__picture-container {
  box-sizing: border-box;
  display: inline-flex;
  max-height: 300px;
  overflow-y: auto;
  max-width: 90vw;
  gap: 3px;
}
.individual-listing__picture-container > img{
  box-sizing: border-box;
  height: 300px;
  box-shadow: 2px 0px 2px grey;
  border-radius: 3px;
}

.individual-listing__information-container {
  box-sizing: border-box;
  display: flex;
  height: 300px;
}

.individual-listing__information-container-box {
  box-sizing: border-box;
  
}

.individual-listing__information-container-box__left {
  max-width: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.individual-listing__information-container-box__right {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.individual-listing__information-container-card {
  border: 1px solid var(--border-primary);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgb(209, 202, 202);
}
.individual-listing__information-container-card > i {
  font-size: 1.3rem;
}
.individual-listing__information-container-card__false {
  /* color: var(--text-tertiary); */
  background-color: transparent;
}

.individual-listing__full-size-pictures-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.individual-listing__picture-frame {
  height: 70vh;
  width: 900px;
  border-radius: 5px;
  background-color: rgb(168, 167, 167);
  scroll-snap-align: center;
}
.individual-listing__picture-frame > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}