<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <i class="fa-solid fa-hat-wizard"></i>
    </li>

    <li class="nav-item">
      <a routerLink="/private/home" class="nav-link">
        <i class="fa-solid fa-envelopes-bulk"></i>
        <span class="link-text">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/private/calendar" class="nav-link">
        <i class="fa-regular fa-calendar-days"></i>
        <span class="link-text">My Calendar</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/private/mylistings" class="nav-link">
        <i class="fa-solid fa-people-roof"></i>
        <span class="link-text">My Listings</span>
      </a>
    </li>
  
    <li class="nav-item">
      <a routerLink="/private/add-listing" class="nav-link">
        <i class="fa-solid fa-plus"></i>
        <span class="link-text">Add Listing</span>
      </a>
    </li>

    <li class="nav-item">
      <!-- don't forget to change the routerLink once logout works -->
      <a routerLink="/public/home" class="nav-link"> 
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="link-text">[Logout]</span>
      </a>
    </li>
  </ul>
</nav>